
.header {
    width: auto;
    height: 100px;
    background-color: #f1f1f1;
}

.main {
    width: auto;
    height: 1024px;
}

.logo {
    width:auto;
    height: auto;
}

.logo img {
    height: 100px;
}
